* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Top nav bar */

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.nav-link {
  margin: 0 10px;
  font-size: 13px;
}

.nav-link a {
  text-decoration: none;
  color: rgba(0,0,0,0.87);
}

.nav-link a:hover {
  text-decoration: underline;
}

#google-menu {
  height: 20px;
}

#connexion {
  color: white;
  background-color: #4387fd;
  border-radius: 2px;
  font-weight: bold;
  padding: 8px 15px;
}

/* Main content */
.container {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-form {
  width: 500px;
  height: 45px;
  border-radius: 20px;
  border: 1px solid rgba(0,0,0,0.2);
  margin: 15px;
  padding: 0 15px;
  font-size: 16px;
}

#search-icon {
  position: relative;
  left: 50px;
  color: rgba(0,0,0,0.2);
}

.button-container {
  display: flex;
}

.buttons {
  margin: 20px 10px;
  padding: 10px 15px;
  font-size: 15px;
  background-color: rgba(0,0,0,0.02);
  border-radius: 10px;
  color: rgba(0,0,0,0.87);
}

.buttons:hover {
  border: 1px solid rgba(0,0,0,0.2);
}

#info-box {
  font-size: 13px;
  color: darkblue;
  text-decoration: none;
  border: 1px solid rgba(0,0,0,0.5);
  padding: 5px;
}


#info-box:hover {
  text-decoration: underline;
}

#info-box:visited {
  color: purple;
}

/* Footer */

.footer-div {
  background-color: rgba(0,0,0,0.05);
  border-top: 1px solid rgba(0,0,0,0.2);
  padding: 10px;
  font-size: 14px;
  color: rgba(0,0,0,0.5);
}

#footer-top {
  margin-left: 10px;
}

#footer-div-2 {
  display: flex;
  justify-content: space-between;
}

.footer-block {
  display: flex;
}

.footer-block div {
  margin: 0 10px;
}

i {
  color: green;
}